body {
	background-image: url("brickwall_@2X.png");
	text-align: center;
}

div {
	display:block;
}

.title {
	margin:0;
	top:30px;
	color: #333333;
	font-family: ‘Arial Black’, Gadget, sans-serif;
}
.wrapper {
	width:75%;
	padding-bottom:75%;
	margin:0 auto;
	position:relative;
}

#pl1 {
	float:left;
}

#pl1image {
	position: absolute;
	top: 5px;
	left: 5px;
	height:70px;
	width:70px;
	border-radius: 10%;
}

#pl2 {
	float: right;
}

.gameArea {
	width: 700px;
	background-color: white;
    /*background-image: url("rockywall.png");*/
    border:11px solid black;
    margin: 120px auto 25px auto;
}

.row {
	padding:3px;

}
.tile {
	display:inline-block;
	background-image: url("galogo.png");
	background-size: contain;
	margin: 3px;
	padding: 0px;
	width: 100px;
	height: 100px;	
}

