body {
	background-image: url("brickwall_@2X.png");
	text-align: center;
}

h1, h2 {
	margin:0;
	padding:0;
}
div.wrapper {
	height:100%;
	width:100%;
	border: 2px red dashed;
}

div.gameArea {
	position: absolute
	top: 30%;
	text-align: center;
	border: 2px black;
	height: 100%;
	width: 100%;
	padding:4px;
}

div.tile {
	height: 100%;
	width:100%;
	border: 2px blue;
}

