body {
	text-align: center;
	background-color: lightgrey;
}

h1, h2 {
	margin:0;
	padding:0;
}

.gameArea {
	width:60%;
	background-attachment: blue;
	margin:0 auto;
}

.row {
	width: 125px;
    height: 125px;
    margin: 2px 2px;
    border:2px black;
    background-color: red;
    display: inline-block;
    float: left;
}
