<!DOCTYPE html>

<html ng-app="TicTacToe">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" href="TTT.CSS"/>

	<!--Angular CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<!-- Angular Fire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<!--Angular App -->

	<script src="js/TTT.js"></script>

</head>
<body>
	<div ng-controller="tttController" /////ng-model"board" for firebase richards example/////////>

		<div>
			<img id="pl1image" src="{{playerSelectOne.url}}" alt="" />
		</div>

		<div>
			<img id="pl2image" src="{{playerSelectTwo.url}}" alt="" />
		</div>

		<div class="wrapper">

			<div class="title">
				<h2>Time for that old classic</h2>
				<h2>Way back when we used paper and pencil</h2>
				<h1>Tic...Tac...TOE!</h1>

			</div>

			<!--player name select-->

			<div class="names">
				<div id="pl1">
					<h3>Player 1 please select name</h3>
					<select ng-model="playerSelectOne" ng-options="opt as opt.name for opt in imageList"></select>
				</div>
				<div id="pl2">
					<h3>Player 2 please select name</h3>
					<select ng-model="playerSelectTwo" ng-options="opt as opt.name for opt in imageList"></select>
				</div>
			</div>
			
			<!--Game Board-->
			<div class="gameArea">
				<div class="row" ng-repeat="row in board">
					<div ng-repeat="field in row track by $index" ng-class="{tile:field.icon==true}" ng-click="markClick(field)">
					{{field}}
					</div>
				</div>
				<!-- <div class="row" ng-repeat="row in board">
					<div class="tile" ng-repeat="field in row track by $index" ng-show="{{playerSelectTwo.url}" ng-click="markClick(field)">
					{{field}}
					</div>
				</div> -->
			</div>
		</div>
	</div>
</body>
</html>	